/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
!/vendor/bin/phpcd
!/vendor/bin/phpcd.bat
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
