.objeto {
    border: 2px black solid;
    background-color: grey;
    min-height: 20vh;
    max-height: 20vh;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.objeto:hover
{
    -webkit-box-shadow: inset 0px 0px 20px 0px #ffffff;
    -moz-box-shadow: inset 0px 0px 20px 0px #ffffff;
    box-shadow: inset 0px 0px 20px 0px #ffffff;
	cursor:pointer;
}

.titulo {
    font-size: 1.7rem;
    line-height: 1.0;
}

.descripcion {
    font-size: 1rem;
}

.objeto > span {
    color: #fff;
    text-shadow: 2px 0 0 #000,
    -2px 0 0 #000, 0 2px 0 #000,
    0 -2px 0 #000, 1px 1px #000,
    -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

.noTraducido {
    filter:grayscale(100%);
}
.objeto
{
	background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(245, 236, 255, 0.20));
}